# ------------------------------------------------------------
# Disable AWS default container logs (THIS IS THE KEY)
# ------------------------------------------------------------
containerLogs:
  enabled: false
  includeNamespaces: []


# ------------------------------------------------------------
# Disable AWS outputs
# ------------------------------------------------------------
cloudWatchLogs:
  enabled: false

firehose:
  enabled: false

kinesis:
  enabled: false


# ------------------------------------------------------------
# Service Account
# ------------------------------------------------------------
serviceAccount:
  create: false
  name: fluent-bit


# ------------------------------------------------------------
# Volumes
# ------------------------------------------------------------
daemonSetVolumes:
  - name: applogs
    hostPath:
      path: /logs
      type: Directory

daemonSetVolumeMounts:
  - name: applogs
    mountPath: /logs
    readOnly: true


# ------------------------------------------------------------
# ONLY application logs input
# ------------------------------------------------------------
additionalInputs: |
  [INPUT]
      Name              tail
      Tag               applogs.*
      Path              /logs/*/*.log
      Exclude_Path      *.gz
      Refresh_Interval  5
      Rotate_Wait       30
      Mem_Buf_Limit     100MB
      Skip_Long_Lines   On
      Read_from_Head    Off
      Path_Key          filepath


# ------------------------------------------------------------
# Filters
# ------------------------------------------------------------
additionalFilters: |
  [FILTER]
      Name    modify
      Match   applogs.*
      Add     source eks
      Add     log_type file


# ------------------------------------------------------------
# Output
# ------------------------------------------------------------
additionalOutputs: |
  [OUTPUT]
      Name                  opensearch
      Match                 applogs.*
      Host                  vpc-uat-oss-s4m7otu6ck4fmp4fy215wkoce.us-east-1.es.amazonaws.com
      Port                  443
      TLS                   On
      AWS_Auth              On
      AWS_Region            us-east-1
      Index                 eks-file-logs
      Logstash_Format       On
      Replace_Dots          On
      Suppress_Type_Name    On


# ------------------------------------------------------------
# Resources
# ------------------------------------------------------------
resources:
  requests:
    cpu: 100m
    memory: 200Mi
  limits:
    memory: 300Mi


tolerations:
  - operator: Exists