# ------------------------------------------------------------
# Disable AWS default outputs
# ------------------------------------------------------------
cloudWatchLogs:
  enabled: false

cloudwatch:
  enabled: false

firehose:
  enabled: false

kinesis:
  enabled: false


# ------------------------------------------------------------
# Service Account (IRSA)
# ------------------------------------------------------------
serviceAccount:
  create: false
  name: fluent-bit


# ------------------------------------------------------------
# Mount node application logs
# ------------------------------------------------------------
daemonSetVolumes:
  - name: applogs
    hostPath:
      path: /logs
      type: Directory

daemonSetVolumeMounts:
  - name: applogs
    mountPath: /logs
    readOnly: true


# ------------------------------------------------------------
# Fluent Bit core configuration
# ------------------------------------------------------------
config:
  service: |
    [SERVICE]
        Flush         5
        Log_Level     info
        Daemon        off

  inputs: |
    [INPUT]
        Name              tail
        Tag               applogs.*
        Path              /logs/**/*.log
        Exclude_Path      *.gz
        Refresh_Interval  5
        Rotate_Wait       30
        DB                /var/log/flb_applogs.db
        Mem_Buf_Limit     100MB
        Skip_Long_Lines   On
        Read_from_Head    Off

  filters: |
    # Extract application name from folder path
    [FILTER]
        Name    regex
        Match   applogs.*
        Regex   log ^/logs/(?<app>[^/]+)/.*\.log$

    # Add common fields
    [FILTER]
        Name    modify
        Match   applogs.*
        Add     source eks
        Add     log_type file

  outputs: |
    [OUTPUT]
        Name                  opensearch
        Match                 applogs.*
        Host                  vpc-uat-oss-s4m7otu6ck4fmp4fy215wkoce.us-east-1.es.amazonaws.com
        Port                  443
        TLS                   On
        AWS_Auth              On
        AWS_Region            us-east-1
        Index                 eks-file-logs
        Logstash_Format       On
        Replace_Dots          On
        Suppress_Type_Name    On


# ------------------------------------------------------------
# Resources (recommended defaults)
# ------------------------------------------------------------
resources:
  requests:
    cpu: 100m
    memory: 200Mi
  limits:
    memory: 300Mi


# ------------------------------------------------------------
# Run on all nodes
# ------------------------------------------------------------
tolerations:
  - operator: Exists