clusterName: EKS-Cluster
region: us-east-1

manager:
  serviceAccount:
    annotations:
      eks.amazonaws.com: arn:aws:iam::381492007658:role/cloudwatch-agent

# Direct Volume Mounts (These are NOT nested under containerInsights)
fluent-bit:
    extraVolumes:
      - name: host-application-logs
        hostPath:
          path: /logs

    extraVolumeMounts:
      - name: host-application-logs
        mountPath: /mnt/node-logs
        readOnly: true

    # CloudWatch output is disabled to focus only on OpenSearch


    # Custom Fluent Bit Config Blocks
    extraConfig: |
      [INPUT]
          Name            tail
          Tag             debtwizard.*
          Path            /mnt/node-logs/*/*.log
          DB              /var/fluent-bit/state/debtwizard.db
          Mem_Buf_Limit   50MB
          Skip_Long_Lines On
          Path_Key        On
          Refresh_Interval 10

      [FILTER]
          Name                kubernetes
          Match               debtwizard.*
          Kube_URL            https://kubernetes.default.svc:443
          Merge_Log           On
          Keep_Log            Off
          Use_Kubelet         On
          Kubelet_Port        10250

    extraOutputs: |
      [OUTPUT]
          Name            opensearch
          Match           debtwizard.*
          Host            vpc-uat-oss-sa4m7otu6ck4fmp4fy2l5wkoce.us-east-1.es.amazonaws.com
          Port            443
          TLS             On
          tls.verify      Off
          AWS_Auth        On
          AWS_Region      us-east-1
          AWS_Service_Name es
          Index           debtwizard-logs
          Suppress_Type_Name On

